/*-----------------------------------=========Main-Style-Sheet=========----------------------------------------*/


@font-face {
  font-family: 'Gotham';
  src: url('webfonts/Gotham-Light.woff') format('woff'),
      url('webfonts/Gotham-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham';
  src: url('webfonts/Gotham-BookItalic.woff') format('woff'),
      url('webfonts/Gotham-BookItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham';
  src: url('webfonts/Gotham-Book.woff') format('woff'),
      url('webfonts/Gotham-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham';
  src: url('webfonts/Gotham-Light_1.woff') format('woff'),
      url('webfonts/Gotham-Light_1.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham';
  src: url('webfonts/Gotham-BookItalic_1.woff') format('woff'),
      url('webfonts/Gotham-BookItalic_1.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham';
  src: url('webfonts/Gotham-Bold.woff') format('woff'),
      url('webfonts/Gotham-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham';
  src: url('webfonts/Gotham-Bold_1.woff') format('woff'),
      url('webfonts/Gotham-Bold_1.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham';
  src: url('webfonts/Gotham-BoldItalic.woff') format('woff'),
      url('webfonts/Gotham-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham';
  src: url('webfonts/Gotham-Thin.woff') format('woff'),
      url('webfonts/Gotham-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham';
  src: url('webfonts/Gotham-UltraItalic.woff') format('woff'),
      url('webfonts/Gotham-UltraItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham';
  src: url('webfonts/Gotham-XLightItalic.woff') format('woff'),
      url('webfonts/Gotham-XLightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham';
  src: url('webfonts/Gotham-Black.woff') format('woff'),
      url('webfonts/Gotham-Black.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham';
  src: url('webfonts/Gotham-Medium.woff') format('woff'),
      url('webfonts/Gotham-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham';
  src: url('webfonts/Gotham-ThinItalic.woff') format('woff'),
      url('webfonts/Gotham-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham';
  src: url('webfonts/Gotham-LightItalic.woff') format('woff'),
      url('webfonts/Gotham-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham';
  src: url('webfonts/Gotham-Medium_1.woff') format('woff'),
      url('webfonts/Gotham-Medium_1.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham';
  src: url('webfonts/Gotham-XLight.woff') format('woff'),
      url('webfonts/Gotham-XLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham';
  src: url('webfonts/Gotham-MediumItalic.woff') format('woff'),
      url('webfonts/Gotham-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}


:root {
  --theme__color1: #60273E;
  --gotham: 'Gotham';
}
*,::before,::after {
  box-sizing: border-box;
}
body {
  font-size: 16px;
  line-height: 1.5;
  background-color: #fff;
  overflow-x: hidden;
  word-wrap: break-word;
  word-break: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-family: var(--gotham);
  background: url('images/background.png') repeat center top/100% auto;
}
a, a:active, a:focus, a:active, a:hover {
  text-decoration:none !important;
  color: inherit;
}
input{
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
a:hover,
a:focus,
input:focus,
input:hover,
select:focus,
select:hover,
select:active,
textarea:focus,
textarea:hover,
button:focus {
  outline: none;
}
::placeholder {
  opacity: 1;
}
:focus::placeholder {
  opacity: 0;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  table-layout: fixed; /* Prevents HTML tables from becoming too wide */
  width: 100%;
}
img {
  -ms-interpolation-mode: bicubic;
  border: 0;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
iframe {
  width: 100%;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{
  font-weight: 700;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
p{
  margin-bottom: 15px;
}
p:last-child{
  margin: 0;
}
.main-wrap {
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
@media (min-width: 1400px) {
  .container {
    max-width: 1376px;
  }
}




/* header */
.header-section {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background: url('images/texture.png') no-repeat center center/cover;
  color: #fff;
}
.header-in {
  padding: 10px 0;
}
.header-section__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.header__logo {
  width: 66px;
  display: block;
}
.header__logo img {

}
.main-menu {

}
.main-menu > ul {
  gap: 50px;
  display: flex;
  align-items: center;
}
.main-menu > ul > li {

}
.main-menu > ul > li:last-child {

}
.main-menu > ul > li > a {
  font-size: 22px;
  padding: 3px 0;
  letter-spacing: 2.5px;
  transition: 0.3s;
  text-transform: uppercase;
  font-weight: 400;
  position: relative;
  display: block;
}
.main-menu > ul > li > a:hover {
  /* color: #5ba7f8; */
  filter: drop-shadow(0 0 10px #000000);
}
.main-menu > ul > li > a::after {
  content: '';
  height: 2px;
  width: 100%;
  background: #fff;
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  border-radius: 4px;
  transform: scaleX(0);
  transition: 0.3s;
}
.main-menu > ul > li > a:hover::after {
  transform: scaleX(1);
}
.hs-menu {
  gap: 40px;
  display: flex;
  align-items: center;
}
.hs-menu li {

}
.hs-menu li a {
  font-size: 32px;
  transition: 0.3s;
}
.hs-menu li a:hover {
  color: #3891f1;
}
/* header-end */




/* ---offcanvas-css--- */
.offcanvas-open {
  font-size: 18px;
  line-height: 1;
  transition: 0.3s;
  position: absolute;
  bottom: 0;
  right: 0;
}
.offcanvas-open:hover {
  color: #97A3AE;
}
.offcanvas-close {
  color: #fff;
  position: absolute;
  transition: 0.3s;
  right: 15px;
  top: 15px;
  font-size: 18px;
  line-height: 1;
}
.offcanvas-close:hover {
  color: #97A3AE;
}
.offcanvas-menu {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  transform: translateX(-105%);
  transition: 0.3s;
}
.offcanvas-menu.active {
  transform: translate(0);
}
.offcanvas-menu .offmenu {
  max-width: 250px;
  min-width: 200px;
  z-index: 5;
  position: relative;
  background: var(--theme__color1);
  color: #fff;
  height: 100%;
  padding: 50px 20px 40px;
  overflow: auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.offcanvas-menu .offmenu :-webkit-scrollbar {
  display: none;
}
.mobile-menu li a {
  display: block;
  text-align: center;
  font-size: 15px;
  padding: 8px;
  text-transform: uppercase;
}
.dropdown-menu-custom ul {
  background: #fff;
  padding: 20px 0;
}
.dropdown-menu-custom ul li a {
  color: #97A3AE;
}
.offcanvas-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.178);
  z-index: 2;
  transform: 0;
  z-index: 900;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
.offcanvas-overlay.active {
  opacity: 1;
  visibility: visible;
}
/* ---offcanvas-css-end---*/

/* --preloader-- */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}
#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid var(--theme__color1);
  border-top-color: #e2eefd;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}
@-webkit-keyframes animate-preloader {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
@keyframes animate-preloader {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
/* --preloader-end-- */


/* ---hero-section--- */
.hero-section {
	padding-top: 270px;
	color: #fff;
	position: relative;
	z-index: 2;
}
.hero-section::after {
  --off: 15px;
  content: '';
  height: calc(100% - (var(--off) * 2));
  width: calc(100% - (var(--off) * 2));
  top: var(--off);
  left: var(--off);
  border: 5px solid #fff;
  display: block;
  position: absolute;
  z-index: 1;
  pointer-events: none;
}
.hero-video-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -2;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-video-bg video {
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
  flex-shrink: 0;
}
.hero-section__inner {

}
.hero-logo__banner {
  padding: 30px 0 42px;
  background: rgba(56, 56, 56, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-logo {
	width: 300px;
}
.hero-logo img {

}
.hero-cont {
	max-width: 800px;
	padding: 60px 0 95px;
	margin: 0 auto;
	text-align: center;
}
.hero-cont h4 {
	font-size: 20px;
	line-height: 1.65;
	font-weight: 400;
}
/* ---hero-section---end */


/* ---common--- */
.section__title {
  padding: 13px 15px;
  text-align: center;
  background: url('images/texture.png') no-repeat center center/cover;
  color: #fff;
}
.section__title h2 {
	font-size: 65px;
	letter-spacing: 10px;
	font-weight: 400;
	text-transform: uppercase;
}

.box-text {
	padding: 8px 13px 7px;
	font-size: 28px;
	line-height: 1.35;
	color: var(--theme__color1);
	border: 2px solid var(--theme__color1);
	display: inline-block;
	letter-spacing: 10px;
	text-transform: uppercase;
}
.box-text--white {
  color: #fff;
  border-color: #fff;
}
/* ---common---end */


/* ---habitats-section--- */
.habitats-section {

}
.habitats-section__in {
  position: relative;
  z-index: 1;
}
.habitats__left-image {
  width: 900px;
  max-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.habitats-section__inner {
  display: flex;
  justify-content: flex-end;
}
.habitats__content {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}
.habitats__content__part-1 {
	width: 610px;
	margin: 0 0 70px;
}
.habitats__content__part-2 {
	margin: 0 0 70px;
	width: 880px;
}
.habitats__content__part-3 {

}
.habitats__content .bx_1 {
	width: 540px;
	margin: 0 0 55px;
	text-align: center;
}
.habitats__content .bx_2 {
  margin: 0 0 45px;
  text-align: center;
}
.habitats__content .bx_3 {
  margin: 0 0 50px;
  min-width: 280px;
  text-align: center;
}
.habitats__content h4 {
  font-size: 22px;
  margin: 0 0 20px;
  line-height: 1.0;
  color: var(--theme__color1);
  font-weight: 400;
}
.ht-ops-wrap {
  display: flex;
  gap: 10px;
}
.ht-ops-1 {

}
.ht-ops-2 {
  gap: 15px;
  align-items: flex-start;
}
.ht-op {
  width: 14.2857%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.ht-op__icon {
	width: 90px;
  height: 90px;
	margin: 0 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.ht-op__icon img {

}
.ht-op__tc {

}
.ht-op__tc h4 {
	font-size: 14px;
	line-height: 1.1;
	letter-spacing: 3.5px;
}
.ht-op__tc h5 {
	font-size: 12px;
	line-height: 1.1;
	letter-spacing: 3px;
	font-weight: 400;
	color: var(--theme__color1);
	text-transform: uppercase;
}
.ht-op__tc h5 .sm {
  font-size: 9px;
}
/* ---habitats-section---end */


/* ---planta-section--- */
.planta-section {

}
.planta-section__inner {

}

.planta-slider__outer {
  --space-padding: 210px;
  position: relative;
  z-index: 1;
}
.planta-slider__outer::after {
  content: '';
  height: 100%;
	width: calc(50% + 270px);
  background: url('images/planta-slide-1-image.png') no-repeat center center/cover;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.planta-slider {
  --space-padding: 210px;
	width: calc(50% + 270px + var(--space-padding));
  z-index: 1;
}
.planta-slider .owl-nav button {
  transition: 0.3s;
}
.planta-slider .owl-nav button:hover {
  opacity: 0.8;
}
.planta-slider .owl-prev {
  display: none;
}
.planta-slider .owl-next {
	width: 130px;
	position: absolute;
	top: 234px;
	right: -183px;
}
.planta-slide {
  padding-right: var(--space-padding);
}
.planta-slide__bg-img {
  width: 69%;
}
.planta-slide-cont {
	padding: 190px 0;

	/* background: url('images/planta-slide-1-image.png') no-repeat center center/cover; */
  background: transparent;
	color: #fff;
	display: flex;
	justify-content: flex-end;
}
.planta-slide-cont__inner {
  max-width: 910px;
  max-width: initial !important;
  width: 100%;
  position: relative;
  z-index: 1;
}
.planta-slide-cont__inner .flt-img {
	width: 680px !important;
	position: absolute;
	top: 50%;
	right: 0;
	transform: translate(30.2%,-47%);
  z-index: -1;
}
.planta-slide-cont .box-text {
  margin: 0 0 40px;
}
.planta-slide-cont ul {

}
.planta-slide-cont ul li {
  font-size: 27px;
  margin-bottom: 8px;
  font-weight: 500;
}
/* ---planta-section---end */


/* ---depart-section--- */
.depart-section {
  padding: 50px 0;
}
.depart-section__inner {

}

.depart-slider {
  --arrow-off: 85px;
	max-width: 740px;
	margin: 0 auto;
  border: 10px solid var(--theme__color1);
}
.depart-slider .owl-nav button {
	width: 45px;
	position: absolute;
	top: 50%;
	left: calc(var(--arrow-off) * -1);
	transition: 0.3s;
}
.depart-slider .owl-nav button:hover {
  opacity: 0.8;
}
.depart-slider .owl-nav .owl-next {
  left: unset;
  right: calc(var(--arrow-off) * -1);
}
.depart-slide {

}
.depart-slide__inner {
	padding: 32px 24px 27px;
}
.depart-slide__title {
  margin: 0 0 38px;
  display: flex;
  justify-content: center;
}
.depart-slide__row {
  --bs-gutter-x: 40px;
  --bs-gutter-y: var(--bs-gutter-x);
  display: flex;
}
.depart-slide__r__image {
	width: 175px;
}
.depart-slide__r__image img {

}
.depart-slide__r__content {

}
.depart-op-wrap {
  gap: 35px;
  display: flex;
  flex-direction: column;
}
.depart-op {
  gap: 25px;
  display: flex;
  align-items: center;
}
.depart-op__icon {
	width: 100px;
}
.depart-op__icon img {

}
.depart-op__txt {

}
.depart-op__txt h4 {
  font-size: 18px;
  color: var(--theme__color1);
  font-weight: 500;
}
.depart-slide__bt {
  margin-top: 35px;
  text-align: center;
}
.depart-slide__bt h3 {
  font-size: 33px;
  font-weight: 500;
  color: var(--theme__color1);
  text-transform: uppercase;
}
/* ---depart-section---end */


/* ---ubi-section--- */
.ubi-section {

}
.ubi-section__inner {

}

.ubi__map {
width: 100%;
}
.ubi__map__image {
  width: 100%;
}
/* ---ubi-section---end */

/* ---map-section--- */
.mp-section {
  padding: 30px 0;
}
.mp-section__inner {

}

.mp__row {
  border: 10px solid var(--theme__color1);
  padding: 10px;
  gap: 10px;
  display: flex;
}
.mp__map {
  width: 45%;
}
.mp__map iframe {
  height: 100%;
  width: 100%;
}
.mp__content {
	padding: 70px 50px;
	width: 55%;
	background: url('images/mp-cont-bg.png') no-repeat center center/cover;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: #fff;
  flex-grow: 1;
}
.mp__content p {
	text-align: center;
	font-size: 20px;
	line-height: 1.6;
}
/* ---map-section---end */


/* ---inviter-section--- */
.inviter-section {

}
.inviter__image {
  width: 100%;
}
.inviter__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
/* ---inviter-section---end */


/* ---tulum-section--- */
.tulum-section {
  padding: 50px 0 30px;
}
.tulum-section__inner {

}
.tulum__title {
  margin: 0 0 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tulum-options__wrap {
	max-width: 900px;
	margin: 0 auto;
	display: flex;
	margin-bottom: 45px;
}
.tulum-option {
  width: 16.666666%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.tulum-option__icon {
	width: 108px;
	margin: 0 0 10px;
}
.tulum-option__icon img {

}
.tulum-option__cont {

}
.tulum-option__cont h4 {
	font-size: 15px;
	margin: 0 0 4px;
	line-height: 1.1;
	color: var(--theme__color1);
	font-weight: 500;
}
.tulum-option__cont p {
  font-size: 15px;
  line-height: 1.4;
  color: var(--theme__color1);
  font-weight: 400;
}

.tlm__ud {
	max-width: 750px;
	margin: 0 auto;
}
.tlm__ud h4 {
  margin: 0 0 45px;
  text-align: center;
  font-size: 19px;
  font-weight: 400;
  color: var(--theme__color1);
}
.tlm__ud p {
	font-size: 14px;
	margin: 0 0 5px;
	line-height: 1.4;
	color: var(--theme__color1);
	font-weight: 400;
	text-align: center;
}
.tlm-ud-box {
  border: 9px solid var(--theme__color1);
  display: flex;
  align-items: center;
}
.tlm-ud-box__option {
	padding: 25px 10px;
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	flex-direction: column;
}
.tlm-ud-box__option__icon {
	width: 95px;
	margin: 0 0 15px;
}
.tlm-ud-box__option__icon img {

}
.tlm-ud-box__option__tc {

}
.tlm-ud-box__option__tc p {
	font-size: 14.6px;
	margin: 0 0 4px;
	line-height: 1.4;
	color: var(--theme__color1);
	font-weight: 400;
	text-transform: uppercase;
}
.tlm-ud-box__option__tc h3 {
	font-size: 27px;
	line-height: 1.4;
	color: var(--theme__color1);
	font-weight: 700;
}
/* ---tulum-section---end */


/* ---gallery-section--- */
.gallery-section {

}
.gallery-section-in {
  padding: 50px 0 30px;
}
.gallery-section__inner {

}

.gallery-slider {
	--arrow1-off: 90px;
	max-width: 840px;
	margin: 0 auto;
}
.gallery-slider .owl-nav button {
  width: 50px;
  left: calc(var(--arrow1-off) * -1);
  position: absolute;
  top: 50%;
  transform: translate(0,-50%);
  transition: 0.3s;
}
.gallery-slider .owl-nav button:hover {
  opacity: 0.8;
}
.gallery-slider .owl-nav .owl-next {
  left: unset;
  right: calc(var(--arrow1-off) * -1);
}
.gallery-slider .owl-nav button img {
  width: 100%;
}
.gallery-slide {

}
.gallery-slide .img {
  width: 100%;
}
/* ---gallery-section---end */


/* ---life-style-section--- */
.lifestyle-section {
  padding: 20px 0 30px;
}
.lifestyle-section__inner {

}
.lifestyle-section__title {
  margin: 0 0 35px;
}
.lifestyle-section__title .box-text {
	width: 300px;
	text-align: center;
}

.lifestyle-gallery {

}
.lifestyle-gallery [class*="col-"] {
  display: flex;
  flex-direction: column;
}
.lifestyle-gallery .row {
  flex-grow: 1;
}
.life-style-gallery-item {
  border: 5px solid #fff;
  border-radius: 5px;
  flex-grow: 1;
  display: block;
}
.life-style-gallery-item .img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
/* ---life-style-section---end */


/* ---contact-section--- */
.contact-section {
  padding: 130px 0 50px;
}
.contact-section__inner {

}
.contact-section__title {
  margin: 0 0 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #fff;
}
.contact-section__title h2 {
  font-size: 65px;
  margin: 0 0 50px;
  letter-spacing: 10px;
  font-weight: 400;
  text-transform: uppercase;
}
.contact-section__title h4 {
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 7px;
  line-height: 2;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.contact-form {
  max-width: 500px;
  margin: 0 auto;
}
.single-input-x {
  display: flex;
  align-items: center;
}
.label-x {
  width: 42%;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 14px;
}
.input-x-outer {
  flex-grow: 1;
}
.input-x {
  font-size: 22px;
  line-height: 1.3;
  width: 100%;
  padding: 9px 10px;
  border: 1px solid transparent;
  background: #fff;
}
.contact-form__bottom {
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-submit {
  font-size: 26px;
  letter-spacing: 15px;
  line-height: 1.3;
  padding: 10px 32px;
  border: 1px solid transparent;
  background: #fff;
  display: inline-block;
  border-radius: 23px;
  transition: 0.3s;
}
.contact-submit:hover {
  background: var(--theme__color1);
  color: #fff;
}
/* ---contact-section---end */


/* ---footer-section--- */
.page-bottom-img {
  height: 2150px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}
.page-bottom-img .img {
  width: 100%;
  height: 100%;
}

.footer-section {
  padding: 90px 0 130px;
}
.footer-section__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-logo {
  display: flex;
  width: 240px;
}
.footer-logo img {

}
/* ---footer-section---end */